    /*css del body*/
    $fontParrafos: Varela Round;


    *{
        margin: 0px;
        padding: 0px;
        font-family: Roboto;
    }
    
        /*css del header*/
    
    header{
        background-color: #060706b9;
        background-image: url(../img/fotoheader.jpg);
        background-size: cover;
        height: 25vh;
        
            h1{
                color: #cbf7bda2;
                font-size: 80px;
                text-align: center;
                text-shadow: 8px 8px 8px black;
                height: 100%;
            }
    }
    
        /*css del nav*/
    
    nav{
        background-color: #06070673;
        height: 50px;
        text-align: center;
        position:sticky ;
        top: 0;  
        
        ul{
            list-style: none;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction:column;
            flex-wrap: wrap;
    
            li{
                font-weight: bold;
                font-size: 20px;
                
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);   
                }
            }
        }
    }
        
        /*css del main*/
    
    .primer-h2{
        color: rgb(221, 224, 49);
        width: 100%;
        height: 100%;
        font-size: 65px;
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: italic;
        
    } /*h2 del main home*/
    
        /*css main de contacto*/
    .PadreContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 'H2'
                            'cuadro';
    }
    .H2{
        grid-area: H2;
        color: rgb(69, 69, 76);
        justify-self: center;
        align-self: center;
        font-size: 2.5em;
        text-shadow: 2px 2px 2px white;
    }
    .divHijo{
        grid-area: cuadro;
        justify-self: center;
    }
    #contenido{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    
    form{
        text-align: center; 
        
            label{
                text-align: center;
                color: white;
                font-size: 30px;
            }
            input{
                width: 100%;
                height: 30px;
                text-align: center;
            }
    }
    
        /*css del main trabajos*/
    
    .divMurales{
        grid-area: divmurales;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    
    .divCarteleria{
        grid-area: divcarteleria;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    
    .divCuadros{
        grid-area: divcuadros;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    
    .h2Trabajos{
        color: rgba(191, 191, 101, 0.476);
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 3rem;
        font-family: roboto;
        text-shadow: 2px 2px 2px rgb(245, 231, 231);
    } /*h2 del main trabajos*/
    
    div{
        img{
            &:hover {
                filter: opacity(0.9);
                transform: scale(1.04);
            }
        }
    }
    .imgCarousel{
        padding-left: 15%;
        padding-right: 15%;
    }
    
    /*css del 'sobre nosotros'*/
    
    .mainSobNos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgns{
        width: 50rem;
        height: 100%;
        padding: 10px 15px 0 15px;
        align-items: center;
    }
    .imgns:hover{
        filter: none;
        transform: none;
    }
    .textns{
        font-family:$fontParrafos ;
        font-size: 3em;
        font-style: italic;
        padding: 10px 15px 0 15px;
        
    }
    /*----------*/
    
    main{
        background-color: #000000e8;
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        padding-bottom: 200px;

            img{
                height: 100%;
                width: 90%;
                text-align: center;
            }
    }
    
        /*css del index o home*/
    
    .MainHome{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'hijo1 hijo1 hijo1'
                             'hijo2 hijo2 hijo2'
                             'hijo6 hijo6 hijo6'
                             'hijo6 hijo6 hijo6';
        justify-items: center;
        align-items: center;
    }
    section{
            grid-area: hijo2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            height: 100%;
            width: 100%;
            grid-template-areas: 'hijo3 hijo4 hijo5';
            justify-items: center;
            align-items: center;
               
                span{
                    color: rgb(172, 22, 22);  
                    font-size: 35px;  
                    text-align: center;
                }
        }
    
    .hijo3{
        grid-area: hijo3;
    }
    .hijo4{
        grid-area: hijo4;
    }
    .hijo5{
        grid-area: hijo5;
    }

    article{
        grid-area: hijo1;
        width: 100%;
        padding: 10px 15px 0 15px;
        
    }
    aside{
        grid-area: hijo6;
        padding: 30px 30px 30px 30px;
    }
    
    .Vectores{
        height: 100px;
        width: 100px;
    }
    
     .spotify{
         padding: 0 30px 30px 0;  
     }
    
    p{
        color: bisque;
    }
    
    #textMain{
        text-align: center;
        font-size: 3em;
        font-family:$fontParrafos;
         
    }
    h3{
        font-family: $fontParrafos;
    }
    .spanH:hover{
        transform: scale(1.20)
    }
    
    /*css del footer*/
    footer{
        background-color: #06070673;
        height: 100%;
        
    }
    #textFooter {
        text-align: right;
        color: rgb(255, 253, 253);
        font-family: fantasy;
        text-shadow:2px 2px 2px black;
        margin-bottom: 0;
        font-size: 1em;
    }
    
    .ul-footer{
        text-align: center;
        list-style: none;
        font-size: 20px;
        padding-top: 20px;
    }
    div ul li{
        display: inline-block;
        font-weight: bold;
        padding-right: 15px ;
        border-style: none;
            a{
                color: black;
                text-decoration: none;
        
            }
    
    }
   
    /*movile first*/
    @media only screen and (max-width:768px){
     /*media del header*/
        .mobileH{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: white;
            background-image: url(../img/fotoheader.jpg);
            height: 15vh;
        }
    
        .mobileH h1{
            font-size: 63px;
            text-align: center;
            font-family:roboto;
            height: 100%;
            display:grid;
            align-items: center;
        }
        
    /*media del Nav*/  
        #NavMobile{
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: first baseline;
            flex-direction: row;
            position: static;
            background: rgba(10, 3, 3, 0.319);
        }
    /*media del main Home*/   
        #MainHome{
            background: black;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 'mobile1'
                                'mobile2'
                                'mobile3';
            row-gap: 100px;
       }

        article{
           grid-area: mobile1;
           display: inline;
       }

       .primer-h2{
           font-size: 50px;
           text-shadow: 3px 3px 3px white;
           color: rgb(86, 35, 35);
       }

       section{
           grid-area: mobile2;
           display:grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr 1fr 1fr;
           grid-template-areas: 'hijo3'
                                'hijo4'
                                'hijo5';
       }
        aside{
            grid-area: mobile3;
    
        }
    /*media del footer*/
        .ul-footer{
            font-size: 15px;
        }
        #textFooter{
            font-size: 8px;
        }
    /*css mobile 'trabajos'*/
        div{

            img{
                grid-column: span 2;
                grid-row: span 2;
                height: 100%;
                width: 100%;
            }
        }
    
        .h2Trabajos{
            font-size: 50px;
            text-align: center;
        }
        .H2{
            width: 60%;
            font-size: 40px;
            text-shadow: none;
            color: white;
            text-shadow: 5px 5px 5px red;
        
        }
        .divHijo{
            display: grid;
        
        }
        #Nombre{
            height: 40px;
        }
        
        #Email{
            height: 40px;
        }
        .textns{
            font-size: 1.5em;
        }
    }
    
