    /*css del body*/
    @import "variables.scss";
    @mixin titulos ($colorletra, $tamanoFuente, $sombraLetras){
        color: $colorletra;
        font-size: $tamanoFuente;
        text-shadow: $sombraLetras;
    }
    @mixin vectorRedes {
        width: 150px;
        height: 150px;
        margin: 20px 20px 20px;
    }

    *{
        margin: 0px;
        padding: 0px;
        font-family: Roboto;
    }
    
        /*css del header*/
    
    header{
        background-color: #060706b9;
        background-image: url(../img/fotoheader.jpg);
        background-size: cover;
        height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .imgHeader{
            height: 100px;
            width: 100px;
            border-radius: 80px;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(0.9);
            }

        }
        h1{
            @include titulos(#cbf7bda2, 80px, 8px 8px 8px black);
            text-align: center;
        }

    }
    
        /*css del nav*/
    
    nav{
        background-color: #06070673;
        height: 50px;
        text-align: center;
        position:sticky ;
        top: 0;  
        
        ul{
            list-style: none;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction:column;
            flex-wrap: wrap;
    
            li{
                font-weight: bold;
                font-size: 20px;
                
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);   
                }
            }
        }
    }
        
        /*css del main*/
    
    .primer-h2{
        @include titulos(rgb(221, 224, 49), 65px , 2px 2px 2px white);
        width: 100%;
        height: 100%;
        text-align: center;
        font-family:Varela Round;
        font-style: italic;
        
    } /*h2 del main home*/
    
        /*css main de contacto*/
    .PadreContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 'H2'
                            'cuadro';
    }
    .H2{
        grid-area: H2;
        @include titulos(rgb(69, 69, 76), 2.5em, 2px 2px 2px white);
        justify-self: center;
        align-self: center;
    }
    .divHijo{
        grid-area: cuadro;
        justify-self: center;
    }
    #contenido{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    
    form{
        text-align: center; 
        
            label{
                text-align: center;
                color: white;
                font-size: 30px;
            }
            input{
                width: 100%;
                height: 30px;
                text-align: center;
            }
    }
    
        /*css del main trabajos*/
    
    .divCarteleria{
        grid-area: divmurales;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    
    .divCuadros{
        @extend .divCarteleria;
    }
    
    .h2Trabajos{
        @include titulos(rgb(221, 224, 49), 3.5rem, 2px 2px 2px rgb(245, 231, 231));
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    } /*h2 del main trabajos*/
    
    div{
        img{
            border-radius: 20px;
            &:hover {
                filter: opacity(0.9);
                transform: scale(1.04);
            }
        }
    }
    .imgCarousel{
        padding-left: 15%;
        padding-right: 15%;
    }
    
    /*css del 'sobre nosotros'*/
    
    .mainSobNos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgns{
        width: 50rem;
        height: 100%;
        padding: 10px 15px 0 15px;
        align-items: center;
        &:hover{
            filter: none;
            transform: none;
        }
    }
  
    .textns{
        font-family:$fontParrafos;
        font-size: 3em;
        font-style: italic;
        padding: 10px 15px 0 15px;
        
    }
    /*----------*/
    
    main{
        background-color: #000000e8;
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        padding-bottom: 200px;

            img{
                height: 100%;
                width: 90%;
                text-align: center;
            }
    }
    
        /*css del index o home*/
    
    .MainHome{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'hijo1 hijo1 hijo1'
                             'hijo2 hijo2 hijo2'
                             'hijo6 hijo6 hijo6'
                             'hijo6 hijo6 hijo6';
        justify-items: center;
        align-items: center;
    }
    section{
            grid-area: hijo2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            height: 100%;
            width: 100%;
            grid-template-areas: 'hijo3 hijo4 hijo5';
            justify-items: center;
            align-items: center;
               
                span{  
                    text-align: center;
                }
    }
    
    .hijo3{
        grid-area: hijo3;
    }
    .hijo4{
        grid-area: hijo4;
    }
    .hijo5{
        grid-area: hijo5;
    }

    article{
        grid-area: hijo1;
        width: 100%;
        padding: 10px 15px 0 15px;
        
    }
    aside{
        grid-area: hijo6;
        iframe{
            padding: 0 20px 0 20px;
        }
    }
    
    .Vectores{
        height: 100px;
        width: 100px;
    }
    
    p{
        color: $colLetrasP;
    }
    
    #textMain{
        @extend .mainSobNos;
        font-family:$fontParrafos;
         
    }
    .h3Vectores{
        @include titulos(rgb(172, 22, 22), 35px, 1px 1px 1px white );
        font-family: $fontParrafos;
    }
    .spanH:hover{
        transform: scale(1.20)
    }
    /*css de Redes*/
    .main_redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .h2Redes{
        @include titulos(rgb(226, 226, 84), 3rem, none);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .facebook{
        @include vectorRedes;
    }
    .instagram{
        @extend .facebook;
    }
    .whatsapp{
        @extend .facebook;
    }



    /*css del footer*/
    footer{
        background-color: #06070673;
        height: 100%;
        
    }
    #textFooter {
        text-align: right;
        color: rgb(255, 253, 253);
        font-family: fantasy;
        text-shadow:2px 2px 2px black;
        margin-bottom: 0;
        font-size: 1em;
    }
    
    .ul-footer{
        text-align: center;
        list-style: none;
        font-size: 20px;
        padding-top: 20px;
    }
    div ul li{
        display: inline-block;
        font-weight: bold;
        padding-right: 15px ;
        border-style: none;
            a{
                color: black;
                text-decoration: none;
        
            }
    
    }
   
    /*movile first*/
    @media only screen and (max-width:768px){
     /*media del header*/
        .mobileH{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: white;
            background-image: url(../img/fotoheader.jpg);
            height: 15vh;
        
            h1{
                font-size: 45px;
                text-align: center;
                font-family:roboto;
                height: 100%;
                display:grid;
                align-items: center;
            }
            .imgHeader{
                height: 80px;
                width: 80px;
            }
        }
        
    /*media del Nav*/  
        #NavMobile{
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: first baseline;
            flex-direction: row;
            position: static;
            background: rgba(10, 3, 3, 0.319);
        }
    /*media del main Home*/   
        #MainHome{
            background: rgb(0, 0, 0);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 'mobile1'
                                'mobile2'
                                'mobile3';
            row-gap: 100px;
        }

        article{
           grid-area: mobile1;
           display: inline;
        }

       .primer-h2{
           @include titulos(rgb(86, 35, 35), 50px, 3px 3px 3px white);
       }

       section{
           grid-area: mobile2;
           display:grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr 1fr 1fr;
           grid-template-areas: 'hijo3'
                                'hijo4'
                                'hijo5';
       }
        aside{
            grid-area: mobile3;
            border: 9.6px 9.6px 9.6px 9.6px white ;
    
        }
    /*media del footer*/
        .ul-footer{
            font-size: 15px;
        }
        #textFooter{
            font-size: 8px;
        }
    /*css mobile 'trabajos'*/
        div{

            img{
                grid-column: span 2;
                grid-row: span 2;
                height: 100%;
                width: 100%;
            }
        }
    
        .h2Trabajos{
            font-size: 45px;
            text-align: center;
        }
        .H2{
            @include titulos( white, 40px, 5px 5px 5px red );
            width: 60%;
            text-align: center;
        
        }
        .divHijo{
            display: grid;
        
        }
        #Nombre{
            height: 40px;
        }
        
        #Email{
            height: 40px;
        }
        .textns{
            font-size: 1.5em;
        }
        /* css de Redes---*/
        .h2Redes{
            @include titulos(white, 40px, none);
            text-align: center;
            padding: 20px 0 20px 0;
        }
        .main_redes{
            flex-direction: column;
        }
        .facebook{
            margin: 20px 0 50px 0;
        }
        
       
    }
    
    @media only screen and (max-width:500px){

        /*------media del Home---*/
        .primer-h2{
            @include titulos(rgb(86, 35, 35), 35px,3px 3px 3px white);
        }

        .h3Vectores{
            @include titulos(red, 25px , 2px 2px 2px white );
        }
     
    }
